@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;800;900&display=swap');

$black: #000;
$white: #fff;
$grey-200 : #f7f7f7;
$grey-400 : #707070;
$primary-red-500: #C0151B;
$secondary-grey-800: #121212;

$red-100: #FFE0E1;
$green-100: #E0FFE6;
$grey-100: #f1f1f1;

$red-600:#A33032;
$green-600:#30A345;
$grey-600:#6b6b6b;


$xs: 270px;
$cstm: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


$font-default : 'Exo', sans-serif;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-sbold: 600;
$fw-bold: 700;
$fw-ebold: 800;
$fw-black: 900;

